<div id="status">
  <div id="services">
    <b>Running Services</b>: 
    <%= @status.running_applications.collect {|app| app.service }.join(", ")%>
  </div>

  <div id="nodes">
    <h1>Nodes</h1>
    <% @status.nodes.each do |node| %>
      <% status = (@status.running_nodes.include?(node) ? "running" : "stopped")%>
      <div class="node"><div class="status <%=status%>"><%=status%></div><%= node %></div>
    <% end %>
  </div>
</div>
