*~
classes
build/
lib/rabbitmq-client.jar
rabbitmq/rabbitmq-java-client/build/lib/
deps/
trixx-deps.zip
rabbitmq/local
rabbitmq/rabbitmq-server/INSTALL
rabbitmq/rabbitmq-server/dist/
rabbitmq/rabbitmq-server/docs/*.gz
rabbitmq/rabbitmq-server/ebin/*.beam
*.pyc
src/com/leftrightfold/web/trixx-web/log/
*.sqlite3
rabbitmq/
