body {
	margin:10px;
	padding:10px;
	font-family: Helvetica;
	font-size:100%;
	color:#444;
	text-align: left;
	background-color:#fff;
}

#header {
  color: #ff6600;
  padding: 5px;
  border-bottom: solid 1px #ff6600;
  font-size: 24px;
  width: 800px;
}

#header a {
  text-decoration: none;
  color: #ff6600;
}

#content {
  margin: 5px;
  padding: 5px;
  width: 800px;
}

#footer {
  color: #aaa;
  text-align: center;
  font-size: 11px;
  width: 800px;
}

#footer hr {
  color: #ddd;
}

h1 {
  font-size: 16px;
  color: #bbb;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  color: #000;
}


.exchange-type {
  background-color: #efefef;
  border: solid 1px #ccc;
  padding: 2px;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
  
.exchange {
  border: solid 1px #aaa;
  padding: 4px;
  margin: 4px;
}

.exchange h2 {
  font-size: 14px;
  color: #bbb;
  text-transform: uppercase;
}

.queue-status {
  background-color: #efefef;
  border: solid 1px #ccc;
  padding: 2px;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
  
.queue {
  border: solid 1px #aaa;
  padding: 4px;
  margin: 4px;
}

.queue h2 {
  font-size: 14px;
  color: #bbb;
  text-transform: uppercase;
}



#status {
  border: solid 1px #aaa;
  padding: 5px;
  margin: 0px;
  width: 790px;
}

#nodes {
  margin-bottom: 10px;
}

  #actions {
    float: right;
  }  
    #actions h2 {
      font-size: 18px;
    }

.node {
  display: inline;
  border: solid 1px #eee;
  padding: 6px;
  margin: 5px;
}

.messages-image {
  float: right;
}

.action-button {
  float: right;
}

.action-button input {
  color:#050; 
  background-color:#efefef; 
  border: 1px solid #aaa; 
  cursor: hand;
}

.status {
  margin-right: 4px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 70px;
  display: inline;
}

#host-status {
  width: 800px;
}
.vhost {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.running {
  font-size: 12px;
  background-color: green;
}

.stopped {
  font-size: 12px;
  background-color: red;
}

.columns .column {
	padding-left: 20px;
	float:left;
	display:inline;
	font-size:14px;	
	margin-right:15px;
}
	.four-column .column {
		width:164px;
	}
	.three-column .column {
		width:225px;
	}
	
	.narrow-three-column .column {
		width:210px;
	}
	
	.two-column .column {
		width:324px;
	}
		.two-column .column .two-column .column {
			width:117px;
		}
	.columns .column p {
		line-height:1.5em;
	}
	
.columns .row {
	clear:left;
	margin-bottom:29px;
}
	.columns .lastrow {
		margin-bottom:0;
	}
	.columns .lastcolumn {
		margin-right:0;
	}
	
.verticalcenter {
	padding-bottom:.8em;
	margin-top:-.4em;	
}
	.verticalcenter strong {
		position:relative;
		bottom:-.2em;	
	}
		.verticalcenter strong.big {
			font-size:38px;
		}
		
		.verticalcenter strong.big a {
			color: #43484c;
			text-decoration: none;
		}
		
		.verticalcenter strong.med {
			font-size:28px;
		}
		
		.verticalcenter strong.med a {
			color: #43484c;
			text-decoration: none;
		}

/* Fix table problems */
table {
	font-size:100%;
	border-collapse: collapse;
}
table td,
table tr {
	vertical-align: top;
	padding: 3px;
}
table th {
	text-align: left;
	padding: 3px;
}		