<table>
  <tr>
    <th>VHost</th>
    <th>Queue</th>
    <th>Exchange</th>
    <th>Routing Key</th>		
  </tr>
<%- @bindings.each do |e| %>
  <tr>
    <td><%=e.vhost%></td>
    <td><%=e.queue%></td>
    <td><%=e.exchange%></td>
    <td><%=e.routing_key%></td>
  </tr>
<%- end %>
